<div class="" id="chat_messages" hx-swap-oob="beforeend">
    <div class="fade-in-up">
        {% include "a_chat\chat_message.html" %}
    </div>
    
    <script>scrollToBottom(100)</script>
</div>

{% with user=message.author %}
    {% if user in chat_group.users_online.all %}
        <div id="user-{{user.id}}" class="green-dot absolute border-2 border-gray-800 -bottom-1 -right-1"></div>
    {% else %}
        <div id="user-{{user.id}}" class="gray-dot absolute border-2 border-gray-800 -bottom-1 -right-1"></div>
    {% endif %}
{% endwith %}